.tire-wrapper {
  height: 250px;
  border: 2px solid white;
  border-radius: 16px;
  display: grid;
  grid-template-columns: auto auto;
  margin-right: 8px;
}

.tire {
  display: flex;
  padding: 8px;
}

.tire-left {
  width: 24px;
  height: 92px;
  border-radius: 24px 0 0 24px;
  background: linear-gradient(0deg, var(--color), var(--color));
  border: 1px solid #eee;
  text-align: center;
  line-height: 92px;
  font-size: 12px;
}

.tire-middle {
  width: 24px;
  height: 92px;
  background: linear-gradient(0deg, var(--color), var(--color));
  border: 1px solid #eee;
  text-align: center;
  line-height: 92px;
  font-size: 12px;
}

.tire-right {
  width: 24px;
  height: 92px;
  border-radius: 0 24px 24px 0;
  background: linear-gradient(0deg, var(--color), var(--color));
  border: 1px solid #eee;
  text-align: center;
  line-height: 92px;
  font-size: 12px;
}

.tire-brake {
  width: 8px;
  margin: 16px 0;
  height: 64px;
  background: linear-gradient(0deg, var(--color), var(--color) var(--percent), transparent 0);
  border: 1px solid #eee;
}

.tire-title {
  display: block;
  font-size: 8px;
  padding-top: 4px;
  text-align: center;
}

.tire-info {
  width: 64px;
  display: flex;
  flex-direction: column;
}

.tire-abs {
  border-radius: 16px;
  border: 2px solid #f00;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  margin-bottom: 4px;
  background-color: var(--color);
}

.tire-brake-temp {
  border-radius: 16px;
  border: 2px solid #0f0;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  margin-bottom: 4px;
}

.tire-brake-psi {
  border-radius: 16px;
  border: 2px solid #0bf;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  margin-bottom: 4px;
}

.tire-brake-percent {
  border-radius: 16px;
  border: 2px solid #fb0;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
}
